@font-face {
  font-family: Regular;
  src: url(fonts/Regular.ttf);
}

@font-face {
  font-family: Semibold;
  src: url(fonts/Semibold.otf);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#rotatedDiv {
  transform-origin:top left;
  transform: rotate(90deg);
  margin-left: 91%;
  overflow: visible;
  position : relative; bottom:0;
  height: 60%;
  
}

/* Custom player style */
#section3 midi-player {
  display: block;
  width: inherit;
  border: 2px;
  margin: 8px;
  margin-bottom: 0;
  margin-top: 5%;
  width: 90vw;
}
#section3 midi-player::part(control-panel) {
  background: black;
  border: 2px solid #000;
  border-radius: 0px 0px 0 0;
}
#section3 midi-player::part(play-button) {
  color: white;
  border: 2px solid currentColor;
  background-color: #6EC3F4;
  border-radius: 20px;
  transition: all 0.2s;
  content: 'hello';
}
#section3 midi-player::part(play-button):hover {
  color: white;
  background-color: #7038FF;
  border-radius: 10px;
}
#section3 midi-player::part(time) {
  font-family: Regular;
  color: white;
}

/* Custom visualizer style */
#section3 midi-visualizer .waterfall-visualizer {
  background: black;
  border: 2px solid black;
  border-top: none;
  padding-top: 0px;
  border-radius: 0 0 10px 10px;
  margin: 4px;
  margin-top:1%;
  width: 90vw;
  height: 60vw;
}
#section3 midi-visualizer svg rect.note {
  opacity: 0.9;
  stroke-width: 2;
}
#section3 midi-visualizer svg rect.note[data-instrument="0"]{
  fill: #6EC3F4;
  stroke: black;
}
#section3 midi-visualizer svg rect.note[data-instrument="2"]{
  fill: #7038FF;
  stroke: black;
}
#section3 midi-visualizer svg rect.note[data-is-drum="true"]{
  fill: #FFBA27;
  stroke: black;
}
#section3 midi-visualizer svg rect.note.active {
  opacity: 0.9;
  stroke: #000;
}