@font-face {
  font-family: Regular;
  src: url(fonts/Regular.ttf);
}

@font-face {
  font-family: Semibold;
  src: url(fonts/Semibold.otf);
}

body {
  margin: 0;
  background-color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(./images/layer1.png), url(./images/layer2.png), url(./images/layer3.png);
  background-repeat: no-repeat;
  background-size: 95%;
  background-position: center;

}
h1 {
  color: #fff;
  font-size: 45px;
  font-weight: normal;
  text-align: center;
  margin: 0px;
  font-family: Regular;
}

h2 {
  color: #fff;
  font-family: Semibold;
  font-weight: normal;
  font-size: 45px;
  text-align: center;
  margin: 0px;
}

h3 {
  color: #fff;
  font-family: Semibold;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin: 0px;
}

.header {
  padding-top: 0px;

}

.title {
  padding-top: 70vh;
}

.navbar {
  padding-top: 20px;
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(30px);
  position: fixed; /* Set the navbar to fixed position */
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.logo {
  float: left;
  display: block;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  background-color: #6EC3F4;
  text-align: center;
  padding: 14px 16px;
  margin-right: 50px;
  margin-top: 15px;
  text-decoration: none;
  font-family: Regular;
}

.navbar a:hover {
  background-color: #7038FF;
}

.text {
  align-content: center;
  color:white;
  text-align: center;
  margin-right: 30vw;
  margin-left: 30vw;
}

.text p{
  font-size: 16px;
  font-family: Regular;

}

.works{
  align-content: center;
  color:white;
  text-align: center;
  margin-right: 30vw;
  margin-left: 30vw;
  margin-top: 20vh;
}

.works img{
  margin-top: 50px;
  width: 40vw;
}

.works p{
  margin-top: 70px;
  font-size: 16px;
  font-family: Regular;

}

.services{
  align-content: center;
  color:white;
  text-align: center;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 20vh;
}

.services img{
  margin-top: 50px;
  width: 12vw;
}

.services p{
  margin-top: 20px;
  font-size: 16px;
  font-family: Regular;
  margin-left: 1vw;
  margin-right: 1vw;

}

.ready{
  align-content: center;
  color:white;
  text-align: center;
  margin-right: 30vw;
  margin-left: 30vw;
  margin-top: 20vh;
  margin-bottom: 20vh;

}

.ready a {
  display: inline-block;
  color: white;
  background-color: #6EC3F4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Regular;
}

.ready a:hover {
  background-color: #7038FF;
}

.ready h3 {
  display: inline-block;
  color: #fff;
  font-family: Semibold;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  margin: 0px;
  margin-right: 20px;
}

.appbar {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 5px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(30px);
  position: fixed; /* Set the navbar to fixed position */
  overflow: hidden;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.applogo p{
  color: white;
  display: inline-block;
  font-family: Regular;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 15px;
}

.applogo {
  float: left;
  display: block;
  vertical-align: middle;
}

.appbar a {
  float: right;
  display: block;
  color: white;
  background-color: #6EC3F4;
  text-align: center;
  padding: 10px 10px;
  margin-right: 50px;
  margin-top: 7px;
  text-decoration: none;
  font-family: Regular;
}

.appbar a:hover {
  background-color: #7038FF;
}

.choose{
  color:white;
  text-align: left;
  margin-top: 15vh;
}

.choose table{
  border-spacing: 20px;
  height: 50vh;
}

.choose td{
  border: 2px solid white;
  padding: 50px;
}

.choose img{
  width: 12vw;
}

.choose p{
  margin-top: 20px;
  font-size: 17px;
  font-family: Regular;
}

.choose h4{
  color: #fff;
  font-family: Semibold;
  font-weight: normal;
  font-size: 40px;
  text-align: left;
  margin-left: 1vw;
  margin-bottom: 0px;
}

.choose a {
  color: white;
  background-color: #6EC3F4;
  text-align: center;
  padding: 10px 10px;
  margin-top: 20px;
  text-decoration: none;
  font-family: Regular;
}

.choose a:hover {
  background-color: #7038FF;
}

.scratch{
  color:white;
  text-align: left;
  margin-top: 11vh;
  margin-left: 2vw;
}

.scratch p{
  font-size: 17px;
  font-family: Regular;
  padding: 0px;
  margin-bottom: 30px;
}

.scratch h4{
  color: #fff;
  font-family: Semibold;
  font-weight: normal;
  font-size: 40px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 20px;
  padding: 0px;
}

.scratch h5{
  color: #fff;
  font-family: Semibold;
  font-weight: normal;
  font-size: 25px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 45px;
  padding: 0px;
}

.scratch h6{
  color: #fff;
  font-family: Semibold;
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 0px;
}

.scratch input{
  background-color: black;
  font-family: Regular;
  font-size: 18px;
  margin-bottom: 20px;
  margin-right: 20px;
  border: solid white 2px;
  height: 35px;
  color: white;
}

.scratch a {
  color: white;
  background-color: #7038FF;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: Regular;
  margin-bottom: 10px;
  margin-right: 10px;
}

.scratch a:hover {
  background-color: #6EC3F4;
}

.tile{
  border: solid white 3px;
  padding: 20px;
  margin-top: 2vh;
  margin-bottom: 0vh;
  margin-right: 1vw;
  display: block;
  width: fit-content;
}

.tile h4{
  font-family: Regular;
  font-size: 16px;
  margin: 0px;
  margin-bottom: 15px;
}

.tile h5{
  font-family: Semibold;
  font-size: 25px;
  margin: 0px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.tile p{
  font-family: Regular;
  font-size: 15px;
  margin: 0;
  margin-bottom: 20px;
  vertical-align: middle;
}

.tile a{
  display: inline-block;
  vertical-align: middle;
}

.tile img{
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}

.checkmark {
  display: inline-block;
  vertical-align: middle;
}

.metadata {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5vw;
}

.files {
  display: flex;
  flex-wrap: wrap;
}

.zone {
  border: white 2px;
  border-style: dashed;
  padding: 20px;
}

.toaster {
  font-family: Regular;
}

.minislider{
  width: 200px;
  margin-right: 20px;
}

.maxislider{
  width: 500px;
}

.chip{
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #6EC3F4;
  color: white;
  height: 20px;
  border-radius: 20px;
}

.chip p{
  color:white;
  margin: 0;
}